
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}
body {
  @apply bg-gray-900 text-white;
}

.scroller{
  @apply  bg-gray-600;
}
.badge-blue {
  @apply inline-flex items-center rounded-md bg-blue-400/10 px-2 py-1 text-xs font-medium text-blue-400 ring-1 ring-inset ring-blue-400/30;
}
.badge-green {
  @apply inline-flex items-center rounded-md bg-green-400/10 px-2 py-1 text-xs font-medium text-green-400 ring-1 ring-inset ring-green-500/20;
}

/* Estilos para botones */
.btn-primary {
  @apply px-5 py-2 bg-cyan-600 text-white font-semibold rounded-lg shadow-md
         hover:bg-cyan-700 transition-colors duration-300;
}
.card {
  @apply rounded-lg shadow-lg p-6 transition-shadow duration-300
         hover:shadow-[0_0_15px_rgba(34,211,238,0.2)];
}
.section-franco {
  @apply text-5xl font-bold text-white mb-4;
}
.section-subtitle {
  @apply text-3xl font-bold mb-6 text-white;

}
.text-yellow {
  @apply text-[oklch(82.8%_0.189_84.429)];
}
.button-yellow {
  @apply bg-[oklch(82.8%_0.189_84.429)] text-black px-4 py-2 rounded font-semibold hover:brightness-90 transition duration-300;
}