
---

---
<header id="header" class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2">
     <nav  class="flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-900 justify-center items-center">

        

        <div  class="hidden md:flex space-x-8">
            <a href="#estudios" class="text-lg text-gray-300 hover:text-cyan-400 transition-colors">Certificados</a>
            <a href="#proyectos" class="text-lg text-gray-300 hover:text-cyan-400 transition-colors">Proyectos</a>
            <a href="#sobre-mi" class="text-lg text-gray-300 hover:text-cyan-400 transition-colors">inicio</a>
        </div>

    </nav>
</header>

<script>

</script>


