
---
import { Image } from 'astro:assets';
import corchetes from '../assets/corchetes.png';
---
<header id ="inicio" class="bg-gray-800/80 backdrop-blur-sm p-4 sticky top-0 z-50 shadow-lg">
    <nav class="container mx-auto flex items-center justify-between">

        <div>
           <Image src={corchetes} alt="Logo" class="w-16 h-auto" />
        </div>

        <div class="hidden md:flex space-x-8">
            <a href="#estudios" class="text-lg text-gray-300 hover:text-cyan-400 transition-colors">Certificados</a>
            <a href="#proyectos" class="text-lg text-gray-300 hover:text-cyan-400 transition-colors">Proyectos</a>
            <a href="#inicio" class="text-lg text-gray-300 hover:text-cyan-400 transition-colors">inicio</a>
        </div>

        <div class="hidden md:block">
            <a href="#contacto" class="button-yellow">
                Hablemos
            </a>
        </div>

    </nav>
</header>

